#header
  #title
    %h1
      Standard Notes
      %span.nonbold Documentation

  #links
    %a{"href" => "https://standardnotes.org"} Website
    %a{"href" => "https://github.com/standardnotes"} GitHub
    %a{"href" => "https://github.com/sn-extensions"} Extensions
    %a{"href" => "https://twitter.com/Standard Notes"} Twitter
