#header
  #title
    %a{"href" => "/"}
      %h1
        Standard Notes
        %span.nonbold Documentation

  #links
    %a{"href" => "https://standardnotes.org", "target" => "_blank"} Website
    %a{"href" => "https://github.com/standardnotes", "target" => "_blank"} GitHub
    %a{"href" => "https://github.com/sn-extensions", "target" => "_blank"} Extensions
    %a{"href" => "https://twitter.com/StandardNotes", "target" => "_blank"} Twitter
