#root-container {
  padding: 0 50px;
}

#documentation-container {
  display: flex;

  @include MQ-Xsmall() {
    display: block;
  }
}

#side-menu {
  flex-basis: 300px;
  flex-grow: 0.1;
  flex-shrink: 0;
  margin-right: 35px;

  ul {
    list-style-type: none;
    padding-left: 14px;
  }

  li {
    margin-bottom: 10px;
  }
}

#text-content {
  overflow: hidden;
}
