$main-text-color: #2f3945;
$blue-color: #086dd6;
$gray-bg-color: #f8f8f8;
$red-color: #ef473e;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$h4-font-size: 0.9rem;
$body-font-size: 18px;
$subbody-font-size: 16px;
